<link rel="stylesheet" href="~/Content/Site.css" />

<div class="container blockOne">
    <div class="row">
        <div class="col-sm-10">
            <div id="n_____">
                <span>Онлайн-курсы <br>английского  языка</span>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="ENGLISH_">
                <span>ENGLISH</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10" id="n______n">
            <span>Большой выбор для каждого уровня знаний</span>
        </div>
    </div>
    <div style="margin-top:50px">
        <div class="row" style="padding-bottom:20px">
            <div class="col-auto">
                <div style="position:relative; bottom: 18px; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" id="iconcheck" fill="rgba(109,171,115,1)" width="20" height="20" class="bi bi-check-lg" viewBox="0 0 5 5">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                    </svg>
                </div>
            </div>
            <div class="col-4">
                <span id="beginner">
                    beginner
                </span>
            </div>
            <div class="col-auto">
                <div style="position: relative; bottom: 18px; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" id="iconcheck" fill="rgba(109,171,115,1)" width="20" height="20" class="bi bi-check-lg" viewBox="0 0 5 5">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                    </svg>
                </div>
            </div>
            <div class="col-4">
                <span id="upper_intermediate">
                    upper intermediate
                </span>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-auto">
                <div style="position:relative; bottom: 18px; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" id="iconcheck" fill="rgba(109,171,115,1)" width="20" height="20" class="bi bi-check-lg" viewBox="0 0 5 5">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                    </svg>
                </div>
            </div>
            <div class="col-4">
                <span id="elementary">
                    elementary
                </span>
            </div>
            <div class="col-auto">
                <div style="position: relative; bottom: 18px; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" id="iconcheck" fill="rgba(109,171,115,1)" width="20" height="20" class="bi bi-check-lg" viewBox="0 0 5 5">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                    </svg>
                </div>
            </div>
            <div class="col-4">
                <span id="advanced">
                    advanced
                </span>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-auto">
                <div style="position:relative; bottom: 18px; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" id="iconcheck" fill="rgba(109,171,115,1)" width="20" height="20" class="bi bi-check-lg" viewBox="0 0 5 5">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                    </svg>
                </div>
            </div>
            <div class="col-4">
                <span id="intermediate">
                    intermediate
                </span>
            </div>
            <div class="col-auto">
                <div style="position: relative; bottom: 18px; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" id="iconcheck" fill="rgba(109,171,115,1)" width="20" height="20" class="bi bi-check-lg" viewBox="0 0 5 5">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                    </svg>
                </div>
            </div>
            <div class="col-4">
                <span id="proficiency">
                    proficiency
                </span>
            </div>
        </div>
    </div>
</div>


